@import "tailwindcss";

:root {
  --color-bg-dark: #14110D;
  --color-amber: #F0A500;
  --color-amber-dim: #C4850A;
  --color-scan-red: #CC2200;

  --font-mono: 'JetBrains Mono', monospace;
}

@theme inline {
  --color-bg-dark: var(--color-bg-dark);
  --color-amber: var(--color-amber);
  --color-amber-dim: var(--color-amber-dim);
  --color-scan-red: var(--color-scan-red);
  --font-mono: var(--font-mono);
}

body {
  font-family: var(--font-mono);
  background-color: var(--color-bg-dark);
  color: var(--color-amber);
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
}
